---
import type { Content } from '../info/experiences';

interface Props {
	content: Content
}

const { content } = Astro.props;
---

{content.map(c => {
    if (typeof c === "string") return c;
    
    if (c.type === "break") return <br />
    
    if (c.type === "highlight") return  (
        <span class="text-highlight">
            <Astro.self content={c.content} />
        </span>
    )

    if (c.type === "link") return (
        <a href={c.href} target="_blank" rel="noopener noreferrer" class="underline">
            <Astro.self content={c.content} />
        </a>
    )
})}
