<label
    for="encoding-to-send"
    class="relative after:absolute after:right-4 after:top-[57%] after:border-l-transparent after:border-r-transparent after:border-l-4 after:border-r-4 after:border-t-4 before:absolute before:right-4 before:top-[42%] before:border-l-transparent before:border-r-transparent before:border-l-4 before:border-r-4 before:border-b-4 after:pointer-events-none before:pointer-events-none"
>
    <select
        class="w-full h-full bg-slate-800 appearance-none cursor-pointer p-2"
    >
        <option value="pt-BR">pt-BR</option>
        <option value="en">en</option>
    </select>
</label>
