---
---

<section class="lg:pt-20 pt-10 xl:px-24 px-8 sm:px-12 2xl:px-40">
	<slot name="title" />
	<div class="lg:py-16 py-10 xl:px-24 sm:px-12 2xl:px-36">
		<slot name="content" />
	</div>
</section>
